/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-900.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* basis styles start*/

html {
    box-sizing: border-box;
}

body {
    font-family: Lato;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: azure;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-flex-end {
    align-items: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* basis styles end */


/* Header styles start */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.2s linear;
    padding-bottom: 25px;
    z-index: 999;
}

.header_active {
    background-color: #1d1e1f;
}

.header_burger {
    width: 40px;
    height: 28px;
    position: relative;
    display: none;
}

.burger_line {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
}

.burger_line_first {
    top: 0;
}

.burger_line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger_line_third {
    bottom: 0;
}

.nav_logo {
    border: #41424a 1px solid;
}

.nav_item {
    margin-right: 82px;
}

.nav_item:hover a {
    color: #cc3614;
    transition-duration: 0.2s;
}

.nav_item:last-child {
    margin-right: 0;
}

.pt_56 {
    padding-top: 56px;
}

/* Header styles end */

/* Intro styles start */

.intro {
    min-height: 100vh;
    background: url(../img2/фонк\ обои.jpg);
    background-size: cover;
    padding: 263px;
    padding-bottom: 223px;
}

.intro_title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.sub_title {
    max-width: 546px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 59px;
}

/* Intro styles end */

/* Benefits styles start */

.benefits_container {
    position: relative;
    max-width: 1262px;
    max-height: 655px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.Benefits_title {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    padding: 93px 100px 88px 100px;
    transform: translateY(-100%);
    background-color: #fff;
}

.pl_100 {
    padding-left: 100px;
}

.benefits_cards {
    padding-bottom: 112px;
    margin-bottom: 112px;
}

.benefits_card {
    margin-right: 55px;
    width: 317px;
    height: 288px;
}

.benefits_card_icon {
    min-width: 66px;
    margin-bottom: 37px;
}

.benefits_card_title {
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits_card_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 39px;
}

.benefits_card_link {
    display: inline-block;
    padding-right: 59px;
    background: url(../icons/Shape.png) no-repeat right center;
    color: #006DFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    transition: 0.2s all;
}

.benefits_card_link:hover {
    padding-right: 65px;
}

/* Benefits styles end */

/* Places styles start */

.places {
    margin-bottom: 131px;
}

.container_main {
    padding: 0px 15px;
    max-width: 1262px;
    margin: 0 auto;
}

.section_title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section_title::after {
    display: block;
    content: '';
    width: 300px;
    height: 3px;
    background-color: #41424a;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mb_36 {
    margin-bottom: 36px;
}

.places_link {
    display: inline-block;
    padding-right: 59px;
    background: url(../icons/Shape.png) no-repeat right center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #006DFE;
    transition-duration: 0.2s;
}

.places_link:hover {
    opacity: 0.75;
}

.places_title {
    margin-right: 15px;
}

.places_cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.places_card {
    position: relative;
    overflow: hidden;
}

.places_card::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.size_places_card_big {
    grid-column: span 3;
}

.size_places_card_small {
    grid-column: span 2;
}

.places_card_img {
    transition: 0.15s all;
    width: 100%;
}

.places_card_img-size_large {
    height: 354px;
    object-fit: cover;
}

.places_card_img-size_small {
    height: 283px;
    object-fit: cover;
}

.places_card_title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places_card:hover .places_card_img {
    transform: scale(1.05);
}

.places_card_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/* Places styles end */

/* Tours styles start */

.tours {
    margin-bottom: 139px;
}

.tours_tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tourinfo {
    padding-left: 47px;
}

.tour_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour_desc {
    margin-bottom: 58px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.tour_link {
    font-size: 16px;
    color: #006DFE;
    padding-right: 59px;
    background: url(../icons/Shape.png) no-repeat center right;
    transition: all 0.3s;
}

.tour_link:hover {
    padding-right: 66px;
}

.tour_pictures {
    height: 354px;
    width: 597px;
}

/* Tours styles end */

/* Top places to visit styles start */

.visit_places {
    margin-bottom: 86px;
}

.visit_title {
    margin-bottom: 54px;
}

.visit_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.visit_card {
    display: flex;
    flex-direction: column;
}

.visit_img {
    height: 377px;
    width: 386px;
}

.visit_card_img {
    margin-bottom: 45px;
    position: relative;
    border: solid black 2px;
}

.visit_card_stats {
    width: 100%;
    padding: 16px 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
}

.visit_card_title {
    margin: 0 auto 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.visit_desc {
    font-family: cursive;
    font-size: 25px;
    margin-bottom: 31px;
}

.visit_button {
    text-align: center;
    width: 162px;
    color: #0c0914;
}

.visit_button {
    background: #41424a;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
    border: 0;
    color: #FFFFFF;
    transition-duration: 0.3s;
    padding: 12px 19px;
    margin: auto 0 0 0;
}

.visit_button:hover {
    background-color: #000000;
    border-radius: 30px;
}

/* Top places to visit end */

/* Footer Styles Start */

.footer {
    background: #0d0d0d;
    padding: 80px 0px;
}

.footer_logo_img {
    border: 2px solid black;
}

.footer_title {
    color: #fff;
    font-size: 17px;
    transition: 0.3s;
}

.footer_title:hover {
    color: #cc3614;
}

/* Footer Styles End */